.heading {
  color: white;
  text-align: left;
  margin-left: 24px;
}

.row {
  margin-bottom: 1rem;
}

.services-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.services-heading {
  color: white;
  font-size: 42px;
  font-weight: 400;
}

.service-explanation {
  font-weight: 400;
  font-size: 18px;
  color: white;
}

.service-img {
  margin-bottom: 50px !important;
  width: 80px;
  height: 80px;
  margin-left: 24px;
}

.service {
  border-top: 4px solid white !important;
  border: 0.5px solid rgba(255, 255, 255, 1);
  height: max-content;
  padding: 50px 0 50px;
  min-width: 315px !important;
  text-align: left;
}
