.agioweb img {
  height: 40px !important;
}

.fa-arrow-right {
  color: white;
}

.five-four img {
  height: 50px !important;
}

h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.home {
  width: 100%;
  height: 130vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 110vh;
  padding-bottom: 50px;
}

.home-projects {
  display: flex;
  flex-direction: column;
  padding: 0px;
  bottom: 10px;
}

.home-projects-main {
  display: flex;
  padding-top: 40px;
  height: 100px;
  width: 400px;
  justify-content: space-around;
}

.home-heading {
  color: white;
  font-size: 56px;
  font-weight: 400;
}

.home-explanation {
  font-weight: 400;
  font-size: 18px;
}

.project img {
  height: 32px;
}

.project-link {
  text-decoration: none;
  color: #4ca666;
}

.talk {
  background-color: #0054a4;
  border-radius: 0.5rem;
  border: 2px solid #2171bd;
  width: 144px;
  height: 64px;
  font-size: 16px;
  color: white;
  transition: box-shadow 152ms ease-out;
}

.talk:hover {
  background: rgb(0, 212, 255);
  background: linear-gradient(
    circle,
    rgba(0, 212, 255, 1) 0%,
    rgba(167, 253, 255, 1) 100%
  );
  box-shadow: 0px 0px 120px 8px rgba(0, 212, 255, 1);
}

.trusted-by {
  width: 90%;
}

.trusted-by-organizations {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.trusted-by-text p {
  padding-bottom: 30px;
  font-size: 20px;
}

.user {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
}

.users {
  display: flex;
}

.user:hover {
  border: 3px solid black;
  z-index: 5;
}

.user-1 {
  margin-left: -60px;
}

.user-2 {
  margin-left: -20px;
  z-index: 4;
}

.user-3 {
  margin-left: 20px;
}
